[Desktop Entry]
Name=xterm-cute
GenericName=Terminal
Comment=xterm with all the right options
Exec=xterm
Terminal=false
Type=Application
#Encoding=UTF-8
Icon=org.gnome.Terminal
Categories=System; TerminalEmulator;
Keywords=shell; prompt; command; commandline; cmd;
X-Desktop-File-Install-Version=0.24
Comment=Use the command line
